<mat-toolbar color="primary" class="mat-elevation-z6">
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <span>Ecommerce Shop</span>
      </a>
    </div>

    <div class="search-form">
      <form (ngSubmit)="onSearch()">
        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            placeholder="Search products..."
            [(ngModel)]="searchQuery"
            name="search"
          />
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>

    <div class="nav-links">
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/products">Products</a>

      <a mat-icon-button routerLink="/cart" *ngIf="isLoggedIn">
        <mat-icon
          [matBadge]="(cart$ | async)?.cartItems?.length || 0"
          matBadgeColor="accent"
          >shopping_cart</mat-icon
        >
      </a>

      <ng-container *ngIf="isLoggedIn">
        <button mat-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
          {{ (currentUser$ | async)?.firstname || "Account" }}
        </button>
        <mat-menu #userMenu="matMenu">
          <a mat-menu-item routerLink="/orders">
            <mat-icon>list_alt</mat-icon>
            My Orders
          </a>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </mat-menu>
      </ng-container>

      <ng-container *ngIf="isAdmin">
        <button mat-button [matMenuTriggerFor]="adminMenu">
          <mat-icon>admin_panel_settings</mat-icon>
          Admin
        </button>
        <mat-menu #adminMenu="matMenu">
          <a mat-menu-item routerLink="/admin/dashboard">
            <mat-icon>dashboard</mat-icon>
            Dashboard
          </a>
          <a mat-menu-item routerLink="/admin/product-management">
            <mat-icon>inventory_2</mat-icon>
            Products
          </a>
          <a mat-menu-item routerLink="/admin/category-management">
            <mat-icon>category</mat-icon>
            Categories
          </a>
        </mat-menu>
      </ng-container>

      <ng-container *ngIf="!isLoggedIn">
        <a mat-button routerLink="/auth/login">Login</a>
        <a mat-raised-button color="accent" routerLink="/auth/register"
          >Register</a
        >
      </ng-container>
    </div>
  </div>
</mat-toolbar>
