<mat-toolbar color="primary" class="mat-elevation-z6">
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <span>Ecommerce Shop</span>
      </a>
    </div>

    <div class="search-form">
      <form (ngSubmit)="onSearch()">
        <div class="search-input-container">
          <input
            type="text"
            placeholder="Search products..."
            [(ngModel)]="searchQuery"
            name="search"
            class="search-input"
          />
          <button mat-icon-button type="submit" class="search-button">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </form>
    </div>

    <div class="nav-links">
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/products">Products</a>

      <a mat-icon-button routerLink="/cart" *ngIf="isLoggedIn">
        <mat-icon
          [matBadge]="(cart$ | async)?.cartItems?.length || 0"
          matBadgeColor="accent"
          >shopping_cart</mat-icon
        >
      </a>

      <ng-container *ngIf="!isLoggedIn">
        <a mat-button routerLink="/auth/login">Login</a>
        <a mat-raised-button color="accent" routerLink="/auth/register"
          >Register</a
        >
      </ng-container>
    </div>
  </div>
</mat-toolbar>
